:root {
	--white-color: white;
	--off-white-color: #F6F6F6;
	--black-color: #3e3e3e;
	--blue-color: #21386A;
	--other-color: #E8BD30;
	--text-size-1: 2.4vmin;
	--text-size-2: 3.2vmin;
	--button-size: 2vmin;
}

* {
	padding: 0;
	margin: 0;
	outline: none;
	font-family: 'Noto Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

header {
	width: 100vw;
	height: 100vh;
}

header li {
	display: inline;
	float: right;
	margin: 1vw;
}

header a {
	position: relative;
	top: 5vh;
	text-decoration: none;
	font-size: var(--button-size);
	font-weight: bolder;
	color: var(--white-color);
}

header a:hover {
	padding-bottom: 5px;
	border-bottom: 1px solid white;
}

.header-image {
	background-image: url(background-2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
}

#header-content {
	width: 70vw;
	position: absolute;
	top: 0vh;
	left: 15vw;
}

.animate__animated.animate__fadeIn {
	animation-duration: 2s;
}

.header-text h1 {
	position: absolute;
	top: 35vh;
	left: 35vw;
	font-size: var(--text-size-2);
	color: var(--white-color);
}

.header-text span {
	color: var(--other-color);
}

.header-text a {
	background-color: var(--other-color);
	border-radius: 5px;
	padding: 1.5vh 3vw;
}

.header-text a:hover {
	border: none;
	padding: 1.5vh 3vw;
}

#content {
	width: 60vw;
	position: absolute;
	left: 20vw;
}

.about {
	position: relative;
	top: 10vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-gap: 0px 0px;
	grid-template-areas:
	"about-box about-image";
}

.about-box p {
	font-size: var(--text-size-1);
	background-color: var(--other-color);
	color: var(--white-color);
	height: 18vh;
	position: relative;
	top: 12vh;
	left: 5vw;
	padding: 3vw 3vh;
}

.about-box span {
	font-size: var(--text-size-2);
}

.about-image img {
	width: 30vw;
	height: 40vh;
}
