:root {
  --white-color: white;
  --off-white-color: #F6F6F6;
  --black-color: #3e3e3e;
  --grey-color: #AAAAAA;
  --other-color: #EEB750;
  --text-size-0: 2vmin;
  --text-size-1: 2.5vmin;
  --text-size-2: 3.5vmin;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Noto Sans', sans-serif;
}

img { 
  width: 30vw;
  height: 40vh;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 100vh;
}

header li {
  display: inline;
  float: right;
  margin: 1vw;
}

header a {
  position: relative;
  top: 5vh;
  text-decoration: none;
  font-size: var(--text-size-1);
  font-weight: bolder;
  color: var(--white-color);
}

header a:hover {
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

/* Header Content */

.header-image {
  background-image: url(background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

#header-content {
  width: 70vw;
  position: absolute;
  top: 0vh;
  left: 15vw;
}

.animate__animated.animate__fadeIn {
  animation-duration: 2s;
}

.header-text h1 {
  position: absolute;
  top: 35vh;
  left: 35vw;
  font-size: var(--text-size-2);
  color: var(--white-color);
}

.header-text span {
  color: var(--other-color);
}

.header-text a {
  background-color: var(--other-color);
  border-radius: 5px;
  padding: 1.5vh 3vw;
}

.header-text a:hover {
  border: none;
  padding: 1.5vh 3vw;
}

/* Body Content */

/* Parent element */
#content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 0px 0px;
  grid-template-areas:
    "about about"
    "services services"
    "awards awards";
    position: relative;
    left: 15vw;
    width: 70vw;
}




/* about element */

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px 0px;
  grid-template-areas:
    "about-text about-image";
  grid-area: about;
  position: relative;
  top: 10vh;
  height: 70vh;
}
.about-text { grid-area: about-text;
  position: relative;
  top: 20vh;
  left: 5vw;
  width: 35vw;
  height: 40vh;
}
.about-text p {
  font-size: var(--text-size-1);
  background-color: var(--other-color);
  color: var(--white-color);
  padding: 3vw 3vh;
}
.about-text span {
  font-size: var(--text-size-2);
}




/* services element */

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px 0px;
  grid-template-areas:
    "services-text services-detailed";
  grid-area: services;
  background-color: var(--off-white-color);
}
.services-text {
  grid-area: services-text;
  padding: 5vw;
  justify-content: center;
  align-self: center;
}
.services-text h2 {
  color: var(--other-color);
  font-size: var(--text-size-2);
}
.services-text span {
  padding-bottom: 1vw;
  border-bottom: solid 2px var(--other-color);
}
.services-text b {
  font-size: var(--text-size-1);
  color: var(--black-color);
}
.services-text p {
  font-size: var(--text-size-0);
  color: var(--grey-color);
  padding-bottom: 5vh;
}
.services-text a {
  font-size: var(--text-size-0);
  background-color: var(--other-color);
  color: var(--white-color);
  border-radius: 5px;
  padding: 1.5vh 3vw;
  text-decoration: none;
}

.services-detailed {
  grid-area: services-detailed;
  padding: 5vw;
  justify-content: center;
  align-self: center;
}
.services-detailed i {
  font-size: var(--text-size-2);
  color: var(--other-color);
  float: left;
  margin-right: 1vw;
}
.services-detailed h2 {
  font-size: var(--text-size-1);
}
.services-detailed p {
  font-size: var(--text-size-0);
  color: var(--grey-color);
}




/* awards element */

.awards {
  position: relative;
  top: 10vh;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0px 0px;
  grid-template-areas:
    "awards-text awards-image";
  grid-area: awards;
}

.awards-text { grid-area: awards-text;
  position: relative;
  left: 5vw;
  justify-content: center;
  align-self: center;
}
.awards-text h2 {
  font-size: var(--text-size-1);
  color: var(--other-color);
}
.awards-text p {
  font-size: var(--text-size-0);
  color: var(--grey-color);
  width: 30vw;
  padding-bottom: 5vh;
}
.awards-text a {
  font-size: var(--text-size-0);
  background-color: var(--other-color);
  color: var(--white-color);
  border-radius: 5px;
  padding: 1.5vh 3vw;
  text-decoration: none;
}
.awards-image { grid-area: awards-image;
  text-align: center;
  justify-content: center;
  align-self: center;
}




/* footer content */

footer {
  background-image: url('footer.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  width: 100vw;
}

#footer_container {
  background: white;
  width: 60vw;
  height: 80vh;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 10vh;
}
#contact {
  position: relative;
  top: 10vh;
}
#contact h3 {
  font-size: var(--text-size-2);
  margin-bottom: 1vh;
}
#contact span {
  border-bottom: 2px solid black;
}
#contact p {
  margin: 0 auto;
  max-width: 30vw;
  font-size: var(--text-size-0);
  padding-bottom: 5vh;
}
input {
  width: 20vw;
  font-size: var(--text-size-0);
  border-radius: 2px;
  border: 1px solid #666666;
  padding-left: 5px;
  padding-right: 5px;
  margin: 1vw;
}
textarea {
  display: block;
  font-size: var(--text-size-0);
  margin: 0 auto;
  width: 43vw;
  height: 20vh;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #666666;
  border-radius: 2px;
  resize: none;
}
#submit {
  font-size: var(--text-size-0);
  background-color: var(--other-color);
  color: var(--white-color);
  border: none;
  border-radius: 5px;
  text-align: center;
  width: 12vw;
  position: relative;
  left: -15.7vw;
  padding: 1.5vh 3vw;
}
#submit:hover {
  cursor: pointer;
}
#contact i {
  font-size: var(--text-size-2);
  color: #3b5998;
}