@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --white: #FFFFFF;
  --black: #000000;
  --grey: #EFEFF1;
  --blue: #1DA1F2;
  --product: 1.5vmin;
  --text: 2vmin;
}
* {
	font-family: 'Roboto', sans-serif;
}
button:focus {
	outline: 0;
}

input:focus {
	outline: 0;
}
body {
	background-color: #ffb2e6;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(238,960,468)'%3E%3Cstop offset='0' stop-color='%23ffb2e6'/%3E%3Cstop offset='1' stop-color='%23b2ffe5'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='572' height='476.7' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.11'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}
header a {
	position: relative;
	top: 2vh;
	left: 1vw;
	color: var(--black);
	font-size: var(--text);
	text-decoration: none;
}
#Content-1 {
	position: absolute;
	top: 10vh;
	left: 22.5vw;
	width: 40vw;
	height: 80vh;
	background: var(--white);
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
#Featured {
	margin: 1vh 1vw;
	font-size: var(--text);
	color: var(--black);
}
#Detail {
	position: relative;
	top: 3.5vh;
	left: 1vw;
	width: 38vw;
	height: 40vh;
	background-color: url('Main-_-Image.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 38vw;
	overflow: hidden;
}
#Detail-Image {
	float: left;
	width: 20vw;
	height: 40vh;
	text-align: center;
}
#Detail-Image img {
	position: relative;
	top: 10vh;
	width: 15vw;
	min-width: 80px;
	max-width: 280px;
}
#Detail-text {
	float: right;
	width: 18vw;
	height: 20vh;
	font-size: var(--text);
	text-align: center;
}
#Detail-text li {
	position: relative;
	margin: 1vh 1vw;
	text-align: left;
	list-style-type: none;
}
#Sizes {
	font-size: var(--text);
	margin: 1vh 1vw;
	text-align: left;
}
#Detail-button {
	position: absolute;
	left: 23vw;
	top: 35vh;
	width: 10vw;
	padding: 1vh 1vw;
	background: blue;
	border-radius: 5px;
	font-size: var(--text);
	background-color: var(--blue);
	color: var(--white);
	cursor: pointer;
}
#Cart {
	position: relative;
	top: 7.5vh;
	text-align: center;
}
#Checkout::-webkit-scrollbar-thumb {
	background-color: #C1C1C1;
	border: 4px solid transparent;
	border-radius: 10px;
	background-clip: padding-box;
}

#Checkout::-webkit-scrollbar {
	width: 1vw;
	min-width: 10px;
	max-width: 16px;
}
#Checkout {
	position: relative;
	left: 1vw;
	background: var(--grey);
	width: 38vw;
	height: 20vh;
	border-radius: 5px;
	overflow-y: scroll;
	overflow-x: hidden;
	text-align: center;
}
#Checkout img {
	float: left;
	margin: 1vh 1vw;
	border-radius: 5px;
	width: 10vw;
	display: inline;
}
#Checkout-button {
	position: relative;
	top: 1vh;
	left: 15vw;
	width: 10vw;
	padding: 1vh 0vw;
	background: blue;
	border-radius: 5px;
	font-size: var(--text);
	background-color: var(--blue);
	color: var(--white);
	cursor: pointer;
}
#Content-2::-webkit-scrollbar-thumb {
	background-color: #C1C1C1;
	border: 4px solid transparent;
	border-radius: 10px;
	background-clip: padding-box;
}

#Content-2::-webkit-scrollbar {
	width: 1vw;
	min-width: 10px;
	max-width: 16px;
}
#Content-2 {
	position: absolute;
	top: 10vh;
	left: 62.5vw;
	width: 15vw;
	height: 80vh;
	background: var(--grey);
	align-content: center;
	overflow-y: scroll;
	overflow-x: hidden;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
#Content-2 span {
	display: none;
}
#Content-2 a {
	text-decoration: none;
	display: inline;
	float: left;
	text-align: center;
	width: 10vw;
	font-size: var(--product);
	border-radius: 5px;
	background-color: var(--white);
	color: var(--black);
	margin: 1vh 1.5vw;
	padding: 1vh 1vw;
	cursor: pointer;
}

#Content-2 img {
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 1vh;
}