@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap');
:root {
  --white-color: #FFFFFF;
  --black-color: #1A1A1A;
  --other-color: #CB2C52;
  --hover-color: #D04163;
  --text-size-0: 1vmin;
  --text-size-1: 1.5vmin;
  --text-size-2: 2vmin;
}

* {
	padding: 0;
	margin: 0;
	outline: none;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}
*:focus {
	outline: none;
}

li {
	list-style-type: none;
}
a {
	text-decoration: none;
}

head {
	position: fixed;
}
body {
	overflow: hidden;
}

#Content {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: 1fr;
  grid-gap: 0px 0px;
  grid-template-areas:
    "Content-Item Content-Description";
  grid-area: Content;
}
#Content-Item { grid-area: Content-Item;
	background-color: var(--white-color);
	height: 100vh; }
#Navigation {
	position: absolute;
	top: 3vh;
	left: 1vw;
}
#Navigation img {
	height: 40px;
}
#Navigation li {
	position: relative;
	top: -10px;
	left: 2vw;
	display: inline;
	margin: 0.5vw;
}
#Navigation a {
	font-size: var(--text-size-1);
	font-family: 'Montserrat';
	font-weight: bolder;
	color: var(--black-color);
}








#Content-Description { grid-area: Content-Description;
	background-image: url("Trainers.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
	height: 100vh;}
.material-icons {
	position: relative;
	top: 1vh;
	left: 1vw;
	color: var(--white-color);
	border: none;
    background: none;
    opacity: 0.8;
	cursor: pointer;
}
#Contact-VoA {
	position: absolute;
	bottom: 0;
}
.VoA {
	width: 25vw;
	height:10vh;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-size: var(--text-size-2);
	font-weight: bolder;
	color: var(--white-color);
	background-color: var(--other-color);
	cursor: pointer;
}
.VoA:hover {
	background-color: var(--hover-color);
}
.Contact {
	float: right;
	width: 15vw;
	height: 10vh;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-size: var(--text-size-2);
	font-weight: bolder;
	color: var(--white-color);
	background-color: var(--black-color);
	cursor: pointer;
}
